.menu {
  width: 100%;
  opacity: 1.0;
  display: inline-block;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(#640000, #101010);
}

.menu-transparent{
  width: 100%;
  display: inline-block;
  opacity: 0.0;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(#640000, #101010);
}

.menu-top {
  float: left;
  padding: 5px 40px;
  color: #ffffff;
  font-size: 30px;
  font-family: "Times New Roman";
}

.menu-link ul{
  float: right;
}

.menu-link li{
  border-left: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
  padding: 5px 40px;
  margin: 3px;
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-family: "Times New Roman";
}