@media screen and (min-width: 450px){
    .diary-box {
        width: 100%;
        font-size: 20px;
        display: flex;
    }

    .diary-time {
        padding-right: 10px;
        width: 120px;
        border-right: 1px #ffffff solid;
        flex-shrink: 0;
        overflow-wrap: break-word;
        min-width: 0;
    }

    .diary-progress {
        width: 100%;
        padding-left: 20px;
        overflow-wrap: break-word;
        min-width: 0;
    }
}

@media screen and (max-width: 449px){
    .diary-box {
        font-size: 12px;
        display: flex;
    }

    .diary-time {
        padding-right: 10px;
        width: 20%;
        border-right: 1px #ffffff solid;
        flex-shrink: 0;
        overflow-wrap: break-word;
        min-width: 0;
    }
    
    .diary-progress {
        width: 100%;
        padding-left: 15px;
        overflow-wrap: break-word;
        min-width: 0;
    }

    .detail {
        margin-left: -18px;
        overflow-wrap: break-word;
        min-width: 0;
    }
}